wx_passwordmanager/bin/
wx_passwordmanager/obj/
wx_passwordmanager/wx_pch.h.gch/
wx_passwordmanager/wx_pch.h.gch/
wx_passwordmanager/obj/
wx_passwordmanager/bin/
/wx_pch.h.gch/
/bin/
/obj/
wx_pch.h.gch/
*/wx_passwordmanager/bin
*/wx_passwordmanager/obj/
*/wx_passwordmanager/wx_pch.h.gch/

